html, body {
height: 100%;
width: 100%;
margin: 0;
padding: 0;
background-color: #BFDCFF;
font-family: 'Karla', sans-serif;
}
.top {
  background-color: #BFDCFF;
  height: 200px;
  margin:0;
  padding:0;
  
}

.form {
  height: 590px;
  width: 400px;
  background-color: #fff;
  margin: -110px auto;
  border-radius: 10px;
  color: #666;
  padding: 0px 0px;
  box-shadow: 2px 2px 4px rgb(0, 0, 0, .25);
}

.info {
  padding: 10px;
}

h1, h2, p {
  text-align: center;
  padding: 0px;
  margin: 5px 5px;
}
h1{
  font-size: 3em;
}
h2 {
  font-family: 'Lora', serif;
  font-weight: 100;
  font-size: 1.65em;
}

p.line {
  margin: 0px auto 20px auto;
  color: #999;
}

.form input {
  font-size: 15px;
  color: #666;
  padding: 6px;
  margin: 25px auto 20px;
  display: block;
  width: 75%;  
}
#text {
    margin-top: -1%;
}
#number{
    margin-top: -1%;
}
input:focus {
  outline: 0;
}

.button button {
  display: inline-block;
  width: 400px;
}
button {
  color: #666;
  background-color: #ffbdc7;
  border: none;
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  font-weight: 600;
  padding: 15px 32px;
  width: 200px;
  margin: 20px auto 0px auto; 
  float:left;
}

button.accept {
  border-radius: 0px 0px 0px 10px;
  border-right: solid 1px #cc919a;
}

button.regret {
  border-radius: 0px 0px 10px 0px;
}

button:hover {
  background-color: #cc919a;
  transition: .5s;
}

button:focus {
  outline: 0;
}